.custom-carousel {
    width: 100%;
    height: auto;
    max-height: 70vh;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Prevent image stretching */
  }
  
  
  .image-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  
  .grid-image {
    width: 100%; /* Ensures the image takes full width */
    height: auto; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures the image doesn't stretch */
  }

  @media (min-width: 1200px) {
    .grid-image {
      width: 100%; /* Ensure the image fills the width */
      height: auto; /* Maintain aspect ratio */
      object-fit: cover;
    }
  }
  
  /* Tablet: Adjust image for smaller screens */
  @media (max-width: 991px) {
    .grid-image {
      width: 100%; /* Ensure the image fills the width */
      height: auto;
      object-fit: cover;
    }
  }
  
  /* Mobile: Stack images vertically */
  @media (max-width: 575px) {
    .grid-image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  
  /* .grid-image:hover {
    transform: scale(1.2);
  }
   */